/*
* @Author: Administrator
* @Date:   2017-08-29 18:01:05
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-01 17:14:37
*/
*{
	margin: 0;/* 清除body身上的，8px */
	text-decoration: none;
	padding: 0;
}
img{
	width: 100%;
	height: 100%;
}
