/*
* @Author: Wang Sath
* @Date:   2017-09-03 17:31:34
* @Last Modified by:   Wang Sath
* @Last Modified time: 2017-10-22 19:18:37
*/
@font-face {
  font-family: 'iconfont';  /* project id 404072 */
  src: url('http://at.alicdn.com/t/font_404072_xu2g51ivjewgsyvi.eot');
  src: url('http://at.alicdn.com/t/font_404072_xu2g51ivjewgsyvi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_404072_xu2g51ivjewgsyvi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_404072_xu2g51ivjewgsyvi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_404072_xu2g51ivjewgsyvi.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
input{
	outline:none;
}
#toubu{
	width: 100%;
	height: 40px;
	background-color: #f2f2f2;
	
}
.toubu-nei{
	width: 1226px;
	height: 40px;
	background-color: #f2f2f2;
	margin: 0 auto;
}
.toubu-zuo{
	height: 40px;
	background-color: #f2f2f2;
	float: left;
}
.toubu-wenzi{
	float:left;
	margin-left: 7px;
	line-height: 40px;
	font-size: 12px;
	color: #b0b0b0
}
.toubu-wenzi1{
	margin-left: 7px
}
.gouwuche{
	margin-left: 10px;
	width: 103px;
	height: 40px;
	background-color: #424242;
	float: left;
	padding-left: 17px;
	font-size: 12px;
	color: #b0b0b0;
	line-height: 40px;
}
.toubu-you{
	height: 40px;
	background-color: #f2f2f2;
	float: right;
}
.toubu-wai{
	width: 1226px;
	height: 130px;
	margin: 0 auto;
}
.logo{
	height: 130px;
	width: 290px;
	position: absolute;
	z-index: 100000;
	margin-left: -45px;}
.toubu-wenzi a{color: #b0b0b0;cursor: auto}
.toubu-wenzi a{color: #b0b0b0;}
.toubu-wenzi a:link{color: #b0b0b0;}
.toubu-wenzi a:visited{color: #b0b0b0}
.toubu-wenzi a:hover{color: blue}
.toubu-wenzi a:active{color: green}
.fenlei{
	width: 100%;
	height: 40px;
	background-color: red;
	margin: 0px;
	padding-top: 
}
.fenleiwenzi{
	width: 200px;
	float: left;
	height: 36px;
	color: #fff;
	background-color: #e22127;
	}
.fenleiwenzi h1{
	margin-top: ;
}
#sousuo{
	width: 1230px;
	height: 130px;
	margin: 0 auto;}
.sousuo-img{
	width: 200px;
	height: 130px;
	float: left;
	margin-left: 140px
}
#daohang{
	width: 100%;
	height: 36px;
	background-color: #ff0036;
	margin: 0 auto;
}
.daohang-neibu{
	width: 1230px;
	height: 36px;
	margin: 0 auto;
}
.daohang-neibu-zuo{
	width: 190px;
	height: 35px;
	background-color: #e22127;
	float: left;
	padding-left: 10px;
}
.daohang-neibu-zuo i{
	font-size: 16px;
	color: #fff;
	font-weight: bolder;
	float: left;
	line-height: 36px;
	margin-right: 5px;
}
.daohang-neibu-zuo h1{
	font-size: 18px;
	color: #fff;
	font-weight: lighter;
	float: left;
	line-height: 36px;
	margin-left: 30px

}
.daohang-neibu-you{
	height: 36px;
	float: left;
	padding-left: 20px;


}
.daohang-neibu-you-zi{
	height: 36px;
	float: left;

}
.daohang-neibu-you-zi i{
	font-size: 16px;
	color: #fff;
	font-weight: bolder;
	float: left;
	line-height: 36px;
	margin-right: 5px;
}
.daohang-neibu-you-zi h1{
	font-size: 18px;
	color: #fff;
	font-weight: lighter;
	float: left;
	line-height: 36px;
	margin: 0 10px;
}
#banner{
	width: 100%;
	height: 500px;
	background-color: #333;
	position: relative;
}
.banner-img{
	width: 100%;
	height: 100%;
	position: absolute;
}
.banner-img a{
	display: block;
	height: 500px;
}
.banner-img li{
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 1s;
	opacity: 0;
}
.banner-img .active{
	opacity: 1;
	z-index: 1;
}
.banner-nk{
	width: 1230px;
	height: 500px;
	/* background-color: green; */
	margin-left: 59.5px;
	position: absolute;
}
.banner-list{
	width: 200px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	z-index: 998;

}
.banner-list-1{
	width: 190px;
	height: 31.25px;
	background-color: rgba(0, 0, 0, 0.4);
	padding-left: 10px;
}
.banner-list-1 i{
	font-size: 16px;
	font-weight: lighter;
	color: #fff;
	float: left;
	margin-right: 5px;
	line-height: 31.25px;

}
.banner-list-1 h1{
	font-size: 14px;
	font-weight: lighter;
	color: #fff;
	float: left;
	line-height: 31.25px;
}
.banner-list-1:hover{
	background-color: #fff;
}
.banner-list-1:hover i{
	color: red;
}
.banner-list-1:hover h1{
	color: red;
}
.lunbo{
	width: 180px;
	height: 20px;
	/* background: red; */
	position: absolute;
	margin: 442px;
	margin-left: 562px;
	z-index: 999;

}
.point{
	width: 25px;
	height: 8px;
	background-color: rgba(0,0,0,0.8);
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	z-index: 999;
}
.lunbo .active{
	background-color: #666;

}
/* .point1{
	width: 25px;
    height: 8px;
    background-color: rgba(0,0,0,0.3);
    float: left;
    margin-top: 5px;
    margin-right: 5px;
} */

#list{
	width: 1230px;
	height: 477px;
	background-color: #f5f5f5;
	margin: 0 auto;
	margin-top: 30px;
}
.list-1{
	width: 238px;
	height: 477px;
	background-color: green;
	float: left;
	margin-right: 10px;}
.list-12{
	margin-right: 0px;
}
.list-1-s{
	width: 238px;
	height: 36px;
	background-color:#ff0036;
}
.list-1-s i{
	font-size: 18px;
	color: #fff;
	line-height: 36px;
	float: left;
}
.list-1-s h1{
	font-size: 18px;
	color: #fff;
	line-height: 36px;
	float: left;
}
.list-1-z{
	width: 238px;
	height: 201px;
	background-color: #ffffff;
	padding-top: 19px;

}
.list-1-z-zizi-1{
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
.list-1-z-zizi-2{
	font-size: 14px;
	font-weight: lighter;
	color: #888;
	margin-top: 5px;
	text-align: center;
}
.list-1-z-img{
	width: 133px;
	height: 133px;
	margin: 0 auto;
}
.list-1-x{
	margin-top: 1px;
	/* width: 238px;
	height: 196px;
	background-color: goldenrod;
	padding-top: 19px; */
}
.img-zj{
	width: 100%;
	height: 90px;

}
.anniu{
	position: absolute;
	width: 30px;
	height: 60px;
	top:200px;
	font-size: 20px;
}
#jiewei{
	width: 100%;
	height: 400px;
	margin: 0 auto;
	border-top: 1px #333 solid;
}
.jieshu-neibu{
	width: 1190px;
	height: 400px;
	margin: 0 auto;
}
.jieshu-neibu-s{
	width: 1190px;
	height: 100px;
	padding: 25px 0px;
}
.jieshu-neibu-s-1{
	width: 257px;
	height: 100px;
	float: left;
	padding-left: 40px;
}
.jieshu-neibu-s-1 i{
	font-size: 70px;
	font-weight: bold;
	float: left;
	line-height: 100px;

}
.jieshu-neibu-s-1 h1{
	font-size: 22px;
	font-weight: bold;
	margin-top: 25px;

}
.jieshu-neibu-s-1 h2{
	font-size: 18px;
	font-weight: lighter;
	color: red;
	margin-top: 1px;

}
.jieshu-neibu-zj{
	width: 1190px;
	height: 190px;
	padding-top: 22px;
	border-top: 1px #333 solid;
	color: red

}
.jieshu-neibu-zj-1{
	width: 186px;
	height: 90px;
	float: left;
	padding-left: 52px;
}
.jieshu-neibu-zj-1 h1{
	font-size: 16px;
	font-weight: bold;
	color: #333;
	line-height: 30px;

}
.jieshu-neibu-zj-1 h2{
	font-size: 12px;
	font-weight: bold;
	color: #333;
	
	
}
.ma-img{
	width: 105px;
	height: 105px;
}
#mlrs{
	width: 1226px;
	height: 732px;
	margin: 0 auto;
}
.mlrs-top{
	width: 1226px;
	height: 118px;
	background-color: #F5F5F5;
	overflow: hidden;
}
.mlrs-top h6{
	font-size: 24px;
	color: #333333;
	margin-top: 78px;
	float: left;
}
.mlrs-top-you{
	height: 30px;
	background-color: #f5f5f5;
	float: right;
}
.mlrs-top-you-wenzi{
	font-size: 14px;
	color: #000;
	float: left;
	margin-right: 10px;
}
.wenzi1{
	margin-right: 0px;
}
.mlrs-under{
	width: 1226px;
	height: 614px;
	background-color: #f5f5f5;
}
.mlrs-under-zuo{
	width: 234px;
	height: 614px;
	background-color: black;
	margin-right: 14px;
	float: left;
}
.mlrs-under-you{
	width: 978px;
	height: 614px;
	background-color: #f5f5f5;
	float: left;
}
.mlrs-sp{
	width: 234px;
	height: 266px;
	background-color: #ffffff;
	margin-right: 14px;
	padding-top: 34px;
	float: left;
	margin-bottom: 14px;
}
.sp-img{
	width: 98px;
	height: 62px;
	background-color: orangered;
	margin-right: 0px;
}
.sp-wenzi{
	font-size: 12px;
	color: #333;
	text-align: center;
	margin-top: 88px;
}
.sp-wenzi1{
	font-size: 12px;
	color: #333;
	text-align: center;
	margin-top: 10px;
}
.sp-wenzi2{
	font-size: 12px;
	color: #333;
	text-align: center;
	margin-top: 15px;
}
.mlrs-jiaju1{
	margin-right: 0px;
}.danpin-list4{
	border-top: 1px #e53935 solid;
}
#mlrs{
	width: 1230px;
	height: 470px;
	margin: 0 auto;
	margin-top: 30px;
}
.mlrs-top{
	width: 1230px;
	height: 30px;
	background-color: #F5F5F5;
}
.mlrs-top-zuo{
	width: 400px;
	height: 30px;
	background-color: #F5F5F5;
	float: left;
}
.mlrs-top-zuo i{
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	line-height: 30px;
	float: left;
}
.mlrs-top-zuo h1{
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	line-height: 24px;
	margin-left: 10px;
	float: left;
}
.mlrs-top-zuo h2{
	font-size: 14px;
	font-weight: lighter;
	color: #333;
	line-height: 30px;
	margin-left: 10px;
	float: left;
}
.mlrs-top-you{
	height: 30px;
	float: right;
}
.mlrs-top-you-wz{
	font-size: 14px;
	color: #333;
	font-weight: lighter;
	float: left;
	line-height: 30px;
	margin: 0px 10px;
}
.mlrs-un{
	width: 1230px;
	height: 440px;
}
.mlrs-un-zuo{
	width: 246px;
	height: 440px;
	background-color: #EAE9DF;
	float: left;
}
.mlrs-un-zuo-img{
	width: 246px;
	height: 330px;
	background-color: hotpink;

}
.mlrs-un-zuo-x{
	width: 246px;
	height: 90px;
	background-color: #EA5F8D;
}
.mlrs-un-zuo-x h1{
	font-size: 22px;
	font-weight: bold;
	color: #333;
	text-align: center;
	margin-top: 20px;
}
.mlrs-un-zuo-x h2{
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	text-align: center;
}
.mlrs-un-zj{
	width: 735px;
	height: 440px;
	background-color: lightpink;
	float: left;
}
.mlrs-un-zj-1{
	width: 244px;
	height: 219px;
	background-color: #FFFFFF;
	float: left;
	margin: 0px 1px 1px 0px;
	position: relative;
}
.mlrs-un-zj-1 h1{
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	margin-top: 25px;
	margin-left: 15px;
	position: absolute;
}
.mlrs-un-zj-1 h2{
	font-size: 14px;
	font-weight: lighter;
	color: #EE86B7;
	margin-left: 15px;
	margin-top: 50px;
	position: absolute;
}
.mlrs-un-zj-1-img{
	width: 154px;
	height: 154px;
	float: right;
	margin-top: 65px;
}
.mlrs-un-you{
	width: 248px;
	height: 440px;
	background-color: #F5F5F5;
	float: right;
}
.mlrs-un-you-1{
	width: 248px;
	height: 146px;
	background-color: #FFFFFF;
	margin-bottom: 1px;
	position: relative;
}
.mlrs-un-you-1 h1{
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	margin-top: 25px;
	margin-left: 15px;
	position: absolute;
}
.mlrs-un-you-1 h2{
	font-size: 14px;
	font-weight: lighter;
	color: #EA5F8D;
	margin-left: 15px;
	margin-top: 50px;
	position: absolute;
}
.mlrs-un-you-1-img{
	width: 100px;
	height: 100px;
	float: right;
	margin-top: 46px;
}
.mlrs-un-you-12{
	margin-bottom: 0px;
}
#cnxh{
	width: 1230px;
	height: 709px;
	background-color: gold;
	margin: 0 auto;
	margin-top: 30px;
}
.cnxh-top{
	width: 1230px;
	height: 43px;
	background-color: #F5F5F5;
	text-align: center;
}
.cnxh-top i{
	font-size: 20px;
	color: #ff0036;
	font-weight: lighter;
	float: left;
	margin-right: 10px;
	text-align: center;

}
.cnxh-top h1{
	font-size: 20px;
	color: #333;
	font-weight: lighter;
	float: left;

}
.cnxh-un{
	width: 1230px;
	height: 666px;
	background-color: #F5F5F5;

}
.cnxh-1{
	width: 239px;
	height: 319px;
	float: left;
	margin-right: 8px;
	margin-bottom: 12px;
}
.cnxh-1-img{
	width: 239px;
	height: 228px;

}
.cnxh-1-un{
	width: 216px;
	height: 69px;
	padding: 14px 12px 8px;
	background-color: #FFFFFF;

}
.cnxh-1-un h1{
	font-size: 12px;
	color: #666;
	font-weight: lighter;

}
.cnxh-1-un i{
	font-size: 14px;
	color: red;
	font-weight: bold;
	float: left;

}
.cnxh-1-un h2{
	font-size: 14px;
	color: red;
	font-weight: bold;
	float: left;
	
}
.cnxh-12{
	margin-right: 0px;
}
.cnxh-wz{
	width: 120px;
	height: 43px;
	margin: 0 auto;
}
#tmall-copyright {
    border-top: 2px solid #FF0036;
    background: #000;
    text-align: left;
    min-height: 177px;
}
.weibu{

    width: 100%;
    height: 198px;
    background-color: black;

}

.weibu-box{

    width: 100%;
    height: 200px;
    background-color: black;
    margin:0 auto;
    padding-left: 79px;

}

.wb-zi{

    height: 12px;
    background-color: black;
    padding-top: 12px;

}


.wb-zi1{

    font-size: 12px;
    color: #ffffff;
    font-family: "苹方";
    line-height: 12px;
    float: left;
    margin-left: 7px;

}
.wb-zi1 a{
	color: #fff;
}
.wb-zi .zi2{

    margin-left: 0;

}

.wb-zi2{

    height: 12px;
    margin-top: 24px;

}

.wb-zi1-1{

    font-size: 12px;
    color: #f5f5f5;
    font-family: "苹方";
    border-right: 1px #fff solid;
    line-height: 12px;
    float: left;
    
    padding-left: 4px;
    padding-right: 4px;

}
.wb-zi1-1 a{
	color: #fff;
}
.wb-zi2 .zi4{

    padding-left: 0;

}

.wb-zi2 .zi5{

    border-right:0;

}

.wb-zi3	{

    width: 750px;
    height: 59px;
    background-color: black;

}

.wb-zi3-1{

    font-size: 12px;
    font-family: "苹方";
    color: #e0e0e0;
    line-height: 12px;
    float: left;
    margin-left: 40px;
    margin-top: 18px;

}

.wb-zi3 .zi1{

    margin-left:0;

}

.wb-zi4{

    font-size: 12px;
    color: #576868;
    font-family: "苹方";
    line-height: 12px;
    margin-top: 9px;

}
.dbhz{
	width: 648px;
	height: 30px;
	margin: 0 auto;
	line-height: 60px;
}
#dbss{
	width: 648px;
	height: 30px;
}
.dbwz{
	position: absolute;
	left:20%;
	line-height: 60px;
	font-size: 25px;
}
.ding a{
	color: white
}
.dbss{
	position: absolute;
	right: 25%;
	color: white;
	top: 30%;
	font-size: 20px
}
.cxx{
	background: black;
	width: 35px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999
}
.cxx img{
	height: 369px;
	position: absolute;
	top: 35%;
}